<!DOCTYPE html>
<html>

<head>
        <% include ./layout/header.ejs %>
</head>
<body>
    <div id="app">
        hello <%= name %>
    </div>

    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>

    <% include ./layout/footer.ejs %>
</body>
</html>
